@import "variables.scss";

header.masthead {

  // Global font rules for masthead
  @include font-smoothing(on);
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.60);

  .bg {
    height: $header-height;
    width: 100%;
    background: url("../img/headers/antalya.jpg"), radial-gradient(#305FA6, #0A1320);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 50px;

  }

  .about-me {
    transition: transform 200ms ease-out;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);

      .shrink-div img.effect-shrink {
        margin-top: -20px;
        margin-left: -10px;
        width: 150px;
        height: 150px;
      }
    }

    // The photo
    .shrink-div {
      overflow: hidden;
      height: 130px;
      width: 130px;
      margin: 0 auto;
      border-radius: 500px;
      border: 7px solid rgba(255,255,255,0.15);
      box-shadow: 0 0 10px rgba(0,0,0,0.15);

      img.effect-shrink {
        height: 450px;
        width: 450px;
        margin-left: -212px;
        margin-top: -145px;
        transition: all 200ms ease;
      }
    }

    // Name header
    h1.page-title {
      color: rgba(255, 255, 255, 0.9);
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.60);
      margin: 5px 0 10px 0;
      font-weight: normal;

      strong { font-weight: bolder; }
    }

    // Short intoduction p
    p {
      color: rgba(255, 255, 255, 0.7);
      font-weight: lighter;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.60);
    }
  }

  .brand-hidden {
    display: none;
  }
}

