@import "variables.scss";

.post {
  h1.post-title {
    margin-top: 0;
    a {
      color: #333;
      text-decoration: none;
      transition: all ease-in 0.3s;
      font-weight: 700;
      font-style: normal;
      font-size: 28px;

      &:hover {
        color: $emphasis-color;
        text-decoration: none;
      }
    }
  }

  margin-bottom: 20px;
  padding: 25px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  border-radius: 2px;

  .post-content {
    font-family: "Lora", serif;
    font-size: 17px;
    line-height: 1.6em;
    color: #555;
  }

  .read-more,
  .post-meta {
    color: #a8a8a8;
    & span {
      i {
        margin-right: 5px;
      }
      display: inline-block;
      font-size: 10px;
      font-weight: 100;
      color: #a8a8a8;
      letter-spacing: 1px;
      margin-right: 20px;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .read-more a {
    text-transform: uppercase;
    color: #222;
    margin: 0;
    font-size: 12px;
    font-weight: 800;
    line-height: 1em;
    i {
      color: #222;
      text-align: center;
      transition: transform 500ms ease;
    }
    &:hover {
      i {
        transform: rotate(180deg);
      }
    }
  }

}
