@import "lib/font-smoothing";

//body { padding-top: 70px; }
body {
  font-family: "Fira Sans", Helvetica, sans-serif;
}

@import "header.scss";
@import "navbar.scss";
@import "post.scss";

header {
  height: $header-height;
  width: 100%;
  top: 0;
  z-index: 1;
  position: fixed;
  overflow: hidden;

  &.small-header {
    z-index: 3;
    height: 50px;
    box-shadow: 0 1px 0 black,
                0 2px 0 white;
  }
}
#wrapper {
  transform: translate3d(0, 0, 0);
  position: relative;
  top: 300px;

  min-height: 1000px;
  background: url("../img/bgpattern.png") #cfd8dc;
  padding-top: 25px;

  box-shadow: inset 0 1px 0 black,
              inset 0 2px 0 white;
  z-index: 2;
}
